[submodule "thridparty/cli"]
	path = thridparty/cli
	url = https://github.com/larksuite/cli.git
[submodule "thridparty/nMobile"]
	path = thridparty/nMobile
	url = https://github.com/nknorg/nMobile.git
